* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

h1,
h2,
p {
  font-family: Lato;
  margin: 0;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.header {
  background-color: #ccc;
  color: white;
  padding: 0.25rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.section {
  height: 100vh;
  padding: 3rem 1rem;
  color: white;
}

button {
  background-color: rosybrown;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
